h1 {
    color: darkblue;
    font-size: 60px;
}

body {
    background: #f4f4f4;
}

#demo {
    font-size: 25px;
    color: darkblue;
}

td, tr {
    text-align: center;
    vertical-align: middle;
}