{% extends "base.html" %}

{% block content %}
    <!-- To show the message we use a for loop -->
    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ message }}            
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}

    <h2>Dashboard</h2><br>
    <div class="card" style="box-shadow: 0px 11px 10px -15px #111;z-index: 2;">
      <h5 class="card-header">{{ current_user.name }}</h5>
        <div class="card-body">
          <p class="card-text">
            <div class="container">
              <div class="row">
                <div class="col-8" style="padding-top: 30px;">
            
              <strong> </strong>@{{ current_user.username }}
              <strong></strong><br>{{ current_user.about }}<br/><br><br>
            
              <!--<strong>User Id: </strong>{{ current_user.id }}<br/>-->
            
              <!--<strong>Email: </strong>{{ current_user.email }}--> 
      
              <!--<strong>Date Joined: </strong>{{ current_user.date_added.strftime("%Y/%d/%m") }}<br/><br/>-->
              <!--<strong>Profile Picture: </strong>{{ current_user.profile_pic }}<br/>-->
              
                </p>
                <a href="{{ url_for('logout')}}" class="btn btn-success btn-sm">Logout</a>
            
                <a href="{{ url_for('update', id=current_user.id)}}" class="btn btn-success btn-sm">Update Profile</a>
            
                <a href="{{ url_for('delete', id=current_user.id)}}" class="btn btn-danger btn-sm">Delete Account</a>
                {% if current_user.profile_pic %}
                  <a href="{{ url_for('delete_pic', id=current_user.id)}}" class="btn btn-danger btn-sm">Delete Profile Picture</a>
                {% endif %}

                <br/><br/>
            
                    </div>
                    <div class="col-4">
                      {% if current_user.profile_pic %}
                        <img src="{{ url_for('static', filename='images/' + current_user.profile_pic) }}" alt="profile_picture" width="200px" class="dashboard-img" align="right">
                      {% else %}
                        <img src="{{ url_for('static', filename='images/default_profile_pic.png') }}" alt="profile_picture" width="200px"  class="dashboard-img" align="right">
                      {% endif %}
                    </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <h4 class="card-header" style="text-align: center; padding: 15px;">Your Posts</h4>
    </div><br>
    {% for post in posts %}
      {% if post.poster.id == current_user.id %}
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
            <p class="card-text">
              <small>@{{ post.poster.username }}<br>
                {{ post.date_posted.strftime("%Y/%d/%m") }}</small><br><br>
                <a href="{{ url_for('post', id=post.id) }}" class="btn btn-outline-success btn-sm">View Post</a>
                {% if post.poster.id == current_user.id or current_user.username =="admin" %}
                    <a href="{{ url_for('edit_post', id=post.id) }}" class="btn btn-outline-success btn-sm">Edit Post</a>
                    <a href="{{ url_for('delete_post', id=post.id) }}" class="btn btn-outline-danger btn-sm">Delete Post</a>
                {% endif %}
            </p>
          </div>
        </div><br><br><br><br>
      {% endif %}
    {% endfor %}


{% endblock %}
