{% extends "base.html" %}

{% block content %}
    <!-- To show the message we use a for loop -->
    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ message }}            
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>    
    {% endfor %}
    <br>
    <div id="post" class="shadow p-3 mb-5 bg-body rounded">
        <h2>{{ post.title }}</h2>
        <small>@{{ post.poster.username }}<br>
        {{ post.date_posted.strftime("%Y/%d/%m") }}</small><br><br>
        {{ post.content|safe }}<br><br>  <!-- |safe is for CKEditor to show the text not in the html form -->

        <div class="card mb-3" style="margin-inline: 40px;"> <!-- style="margin-inline: 50px;" -->
            <div class="row no-gutters">
                <div class="col-md-1">
                    {% if current_user.profile_pic %}
                        <img src="{{ url_for('static', filename='images/' + post.poster.profile_pic) }}" alt="profile_picture" width="110px" align="right">
                    {% else %}
                        <img src="{{ url_for('static', filename='images/default_profile_pic.png') }}" alt="profile_picture" width="110px" align="right">
                    {% endif %}
                </div>
                <div class="col-md-10">
                    <div class="card-body">
                        <h5 class="card-title">
                            {{ post.poster.name }}
                        </h5>
                        <p class="card-text">
                            {% if post.poster.about %}
                                {{ post.poster.about }}
                            {% else %}
                                Author has no about section yet ..
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div><br>

    <a href="{{ url_for('posts') }}" class="btn btn-outline-success btn-sm">Back to Posts</a>
    {% if post.poster.id == current_user.id or current_user.username == "admin"%}
        <a href="{{ url_for('edit_post', id=post.id) }}" class="btn btn-outline-success btn-sm">Edit Post</a>
        <a href="{{ url_for('delete_post', id=post.id) }}" class="btn btn-outline-danger btn-sm">Delete Post</a>
    {% endif %}
{% endblock %}