{% extends "base.html" %}

{% block content %}
    <!-- To show the message we use a for loop -->
    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ message }}            
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>    
    {% endfor %}

    {% if id == current_user.id or current_user.username == "admin" %}
        <h1>Update User Information</h1>
        <br>
        <div class="shadow p-3 mb-5 bg-body rounded">
            <form action="/update/{{ name_to_update.id }}"  method="POST" enctype="multipart/form-data">
                {{ form.hidden_tag() }}

                {{ form.name.label(class="form-label") }}
                {{ form.name(class="form-control", value=name_to_update.name) }}
                <br>
                {{ form.username.label(class="form-label") }}
                {{ form.username(class="form-control", value=name_to_update.username) }}
                <br>                   
                {{ form.email.label(class="form-label") }}
                {{ form.email(class="form-control", value=name_to_update.email) }}
                <br>            
                {{ form.about.label(class="form-label") }}
                <textarea name="about" class="form-control">{{ name_to_update.about }}</textarea>
                <br>             
                {{ form.profile_pic.label(class="form-label") }}
                {{ form.profile_pic(class="form-control", value=name_to_update.profile_pic) }}
                <br>  
                {{ form.submit(class="btn btn-success") }}
            </form>
        </div>
    {% else %}
        <center>
            <h1>Access Denied.</h1>
            <h5>You can not access this user profile.</h5>
        </center>
    {% endif %}

{% endblock %}